@import '../scss/utils.scss';

.article {
    display: inline-block;
    margin: 0 3px 4px 0;
    padding: 0 4px;
    border-radius: 4px;
    background-color: #f6f8fa;
    font-size: 12px;
    line-height: 18px;
    vertical-align: top;
    color: #767678;
    &.type-green {
        color: $ui-green-color;
    }
    &.type-naver-green {
        background-color: #eef9f3;
        color: #09aa5c;
    }
    svg {
        position: static;
        margin: 2px 0;
    }
}
